<div class="hub-icon-item-container">
    <div class="hub-icon-container">
        <div id="icon-{{ getCollectionId }}" class="hub-icon"></div>
    </div>
    <div class="hub-content-container">
        <div id="content-{{ getCollectionId }}" class="hub-content">{{ getLabel }}</div>
    </div>
</div>